


.vote-index{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


.div-party{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


#edit-vote{
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 800px){

    .vote-index{
        display: flex;
    }

    .div-party{
        width: max-content;
        display: flex;
        flex-direction: column;
    }

}