


.vote-index{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


.div-party{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


#edit-vote{
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    /* top: 40%;
    left: 40%; */
    border: 1px solid #fff;
    background: #28325D;
    z-index: 5;
}

#edit-vote button{
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 800px){

    .vote-index{
        display: flex;
    }

    .div-party{
        width: max-content;
        display: flex;
        flex-direction: column;
    }

}