

.sign-in{
    width: 22rem;
    height: 40rem;
    /* border: 2px solid black; */
    /* box-shadow: 1px 1px 10px #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}