#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  width: 100vw;
  height: 100vh;
  /* background: url('./assets/polling-station.jpg')no-repeat center center/cover ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.appear{
  width: 50rem;
  height: 50rem;
  height: fit-content;
  
}

#admin-btn{
  width: fit-content;
    height: 2rem;
    background: #25305B;
    padding: 0.3rem 1rem;
    margin-right: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
}